.mainbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.prof,.name,.saved{
    display: inline-block;
    vertical-align: middle;
}
  


.profile{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 50px;
}
.name{
    color: white;
    margin: 0%;
}
.saved{
    padding-left: 280px;
  
}


.prof{
    padding: 10px;
}
.subin {
    background-image: url('./images/bgg.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 49px;
    /* background-blend-mode:lighten; */

  }

  .reco{
    padding-top: 50px;
    font-weight: bold;
    padding-left: 45px;
    color: white;
    padding-bottom: 20px;
  }

.content{
    padding-left: 40px;
}
  
  
h5{
    margin: 1%;
}
i{
    margin: 1%;
}
.dsrc b{
font-weight: bold;
color: rgb(127, 26, 26);
}

i{
    color: #5b5b5b;
    font-size: small;
margin-top: 3%;
}
.dsrc{
    margin: 0%;
   padding-left: 20px;
   padding-top: 10px;
}



.p-s{
    padding-left: 50px;
    color: rgb(4, 67, 4);
}



.mdsc1 {
margin: 0%;
padding-top: 10px;
}

.mdsc1 b{
    font-size: small;
}

.mdsc2{
    margin: 0%;
padding-top: 10px;
}
.mdsc2 b{
    font-size: small;
}

.mdsc3{
    margin: 0%;
padding-top: 10px;
}
.mdsc3 b{
    font-size: small;
}

.mores{
    padding-top: 50px;
    position: relative;
    padding-bottom: 20px;
    
}
.mores b{
padding-left: 50px;
color: rgb(4, 67, 4);
}

.fec{
    border: 1px solid black;
    width: 400px;
    
    border-radius: 30px;
    position: absolute;
    left: 40px;
    top: 100px;
}

.hm, h4 ,.rt{
    display: inline-block;
    vertical-align: middle;
}

.hm{
    padding-right: 5px;
    padding-left:30px;
    font-size: medium;
}
.rt{
    padding-left:230px;
    font-size: xx-large;
    color: green;
    

}

.rt:hover{
color: rgb(0, 65, 0);
}

.key{
   
    border: 1px solid black;
    width: 400px;
    
    border-radius: 30px;
    position: absolute;
    left: 40px;
    top: 180px;
}

.ky, h4 ,.rt2{
    display: inline-block;
    vertical-align: middle;
}
.ky{
    padding-right: 5px;
    padding-left:30px;
    font-size: medium;
} 
.rt2{
    padding-left:210px;
    font-size: xx-large;
    color: green;
    /* padding-top: 20px; */
    

}

.rt2:hover{
color: rgb(0, 65, 0);
}
.bed{   
     border: 1px solid black;
    width: 400px;
    
    border-radius: 30px;
    position: absolute;
    left: 40px;
    top: 260px;
}

.ordr{   
    border: 1px solid black;
   width: 400px;
   
   border-radius: 30px;
   position: absolute;
   left: 40px;
   top: 360px;
}