.fr{
    color: green;
    font-size: large;
}

.bds,.stear,.bltu,.smart{
    display: inline-block;
    vertical-align: middle;
    
}

.stear{
    padding-left: 10px;
}

.bltu{
    padding-left: 10px;
}

.stear img{
    width:230px;
    height:150px
}


.bds img{
    width:230px;
    height:150px
}

.bltu img{
    width:230px;
    height:150px
}

.smart img{
    width:230px;
    height:150px
}