
.info{
    border: 3px solid black;
    border-radius: 40px;
    width:20px;
    height: 13px;
    padding-top: 5px;

}


.customer h2{
    display: flex;
    justify-content: space-between;
  }

    .nop {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      
      .btn {
        margin-right: 300px;
        padding-right: 50px;
        padding-top: 20px;
      }
      
      .btn1 {
        display: flex;
        align-items: center;
        gap: 5px;
      }
      
      .btn1 button {
        width: 40px;
        height: 40px;
        border: 1px solid white;
        border-radius: 100px;
        background-color: #ffffff;
        color: #000000;
        justify-content: space-between;
      }
          
      
.btn1 button:hover {
    background-color: black;
    color: white;
  }


  
  .s-bar {
    position: relative;
    padding-bottom: 30px;
  }
  
  .input input {
    padding-right: 30px; 
    width: 690px;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 10px;
    position:top-fixed;
    
  }
  
  .icons {
    position: absolute;
    bottom: 42%;
    padding-left: 675px;
    position: top-fixed;
  }
  
  .s-icon {
    font-size: 18px;
    color: #666;
    cursor: pointer;
  }

  .list {
    list-style: none;
  }
  
  .item1 {
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;



  }
  .item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    top: 100px;
}

.order-text {
    display: flex;
   color: green;
   font-size: x-large;
   justify-content: center;

}

.rp{
  display: flex;
  justify-content: center
}

.texts{
  padding-bottom: 25px;
  padding-left: 250px;

}

.trash{
  margin-left: 350px;
  margin-top:42px
}

  
  .item1:hover {
    background-color: #f0f0f0;
  }


.item2 {
  display: flex;
}

.text {
  font-size: 16px;
  color: #666;
}


.order-text{
  text-align: center;
}

  img ,.chicken-image{
width: 260px;
height: 169px;
margin-right: 895px;
margin-top: 439px;
border-radius: 20px;
position: absolute,right,fixed;
top: 1%;
  }

  
  img ,.avacoda-image{

    width: 260px;
height: 169px;
margin-right: 895px;
margin-top: 616px;
border-radius: 20px;

position: absolute,right,fixed;
  }

  img ,.kid-image{

    width: 260px;
height: 169px;
margin-right: 895px;
margin-top: 792px;
border-radius: 20px;

position: absolute,right,fixed;
  }
  

  img ,.that-image{

    width: 260px;
height: 167px;
margin-right: 895px;
margin-top: 967px;
border-radius: 20px;
position: absolute,right,fixed;
  }
  

 .trash{
  float: bottom;
 }

 .k-btn {
  display:flex;
 justify-content:  center;
 padding-left: 200px;
 padding-bottom: -1000px;
 }