
.logo1 , .logo2 ,.timer,.lg {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 0%;
    margin: 0%;
    font-size: 26px;

  }
  
 .lg{
    right: 50%;
 }
 .logo{
    padding-top: 10px;
 }
  .logo1{
    color: rgb(0, 0, 175);
  
    margin: 0%;
    padding: 0%;
  
  }

  .logo2{
    margin: 0%;
    padding: 0%;
    color: #ccc;
  }
  .timer{
    position: absolute;
    left: 50%;
   

  }
  .cardg{
    padding-top: 50px;
  }
.card-no,i{
    display: inline-block;
    vertical-align: middle;
}
.card-no{
    font-size:large;
}
.input-part{
    width: 100px;
}

i{
    position: absolute;
    left: 55%;
    color: blue;
}

.etrcrd{
    color: #605f5f;
    font-size: small;
}

.ccv{
    padding-top: 50px;
}



.crd, .cvv-input {
    display: inline-block;
    vertical-align:  middle;


  }
 .crd p{
    font-size: small;
    color: #6a6a6a;
    padding: 0%;
    margin: 3px;
    font-weight:lighter;
 }


.crd{
    font-weight: bolder;
    padding-right: 150px;
}


.crdic{
    padding-right:20px;
}
.cvv-input,input{
    font-size: 20px;
}
.ccv input{
    border-color: blue;
    

}
.ccv input:hover{
    border-color: blue;
    background-color: rgb(125, 125, 229); ;
}
.times{
    padding-top: 50px;
}

.times input{
    color :rgb(0, 0, 0);
    border-color:rgb(17, 0, 255) ;

    
}

.times input:hover{
    border-color: blue;
    background-color: rgb(125, 125, 229);
}

.expdate,.month{
    display: inline-block;
    vertical-align:  top;

}

.expdate{
    font-size: large;
    padding-right: 100px;
    font-weight: bolder;
}
.expdate p{
    font-size: small;
    color: #6a6a6a;
    padding: 0%;
    margin: 3px;
    font-weight: lighter;
} 
.pass,.inpass{

    display: inline-block;
    vertical-align:  middle;
}

.pass p{
    padding: 0%;
    margin: 0%;
    font-size: small;
    color: #6a6a6a;
    font-weight: lighter;
}

.passwd{
padding-top: 20px;
font-weight: bolder;

}

.pass{
    padding-right: 200px;
}

.payn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.payn button{
    width: 600px;
    height: 60px;
    color: black;
    font-size: medium;
    font-weight: bolder;
}

.payn button:hover{
    background-color: blue;
    color: white
}


.painpt,.passicon{
    display: inline-block;
    vertical-align: middle;
}