.logo{
    padding-bottom: 60px;
}
.logo1 , .logo2 ,.timer {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 0%;
    margin: 0%;
    font-size: 26px;

  }
  
  
  .logo1{
    color: rgb(0, 0, 175);
  
    margin: 0%;
    padding: 0%;
  
  }

  .logo2{
    margin: 0%;
    padding: 0%;
    color: #ccc;
  }
  .timer{
    position: absolute;
    left: 40%;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    background-color: blue;
    border-radius: 30px;
  
  }
.card-no,i{
    display: inline-block;
    vertical-align: middle;
}
.card-no{
    font-size:large;
}
.input-part{
    width: 100px;
}

i{
    position: absolute;
    left: 45%;
    color: blue;
}

.etrcrd{
    color: #605f5f;
    font-size: small;
}

.ccv{
    padding-top: 50px;
}

.inptcard{
    color: #605f5f;
    font-size: small; 
}

.crds, .cvv-input {
    display: inline-block;
    vertical-align: middle;
  }
  
  

.crds{
    font-weight: bolder;
}

.cvv-input,input{
    font-size: 20px;
}